<app-modal #modal>
  <div class="icon-wrapper">
    <div class="title">
      Hello, human!
    </div>
    <button class="button" (click)="onStart(showAgain.checked)">Skip tour</button>
  </div>
  <div class="slideshow">
    <div class="slide">
      <img src="/assets/step{{tour[tourActual]}}.png" width="400" height="250">
    </div>
  </div>
  <div class="navigation">
    <div>
      <input id="show-again" name="show-again" #showAgain type="checkbox">
      <label for="show-again">Do not show this dialog again.</label>
    </div>
    <div class="slideshow-navigation" *ngIf="tourActual !== 3">
      <span *ngIf="tourActual !== 0" (click)="prev()">< prev</span>
      {{tourActual + 1}}/{{tour.length}}
      <span (click)="next()">next ></span>
    </div>

    <div class="slideshow-navigation" *ngIf="tourActual === 3">
      <span *ngIf="tourActual !== 0" (click)="tourActual = 0"> start over </span>

      <span (click)="onStart(showAgain.checked)">Let's start!</span>
    </div>
  </div>
</app-modal>
