<app-modal #modal>
  <div class="icon-wrapper">
    <div class="title">
      Welcome to Roxbury!
    </div>
    <span class="button primary" (click)="onStart()">Play now</span>
  </div>
  <div class="slideshow">
    <div class="slide">
      <img src="/assets/step{{tour[tourActual]}}@2x.png" width="400" height="250">
    </div>
  </div>
  <div class="navigation">
    <div>
    </div>
    <div class="slideshow-navigation" *ngIf="tourActual !== 3">
      <span *ngIf="tourActual !== 0" (click)="prev()"class="button">< prev</span>
      <span class="steps">{{tourActual + 1}}/{{tour.length}}</span>
      <span (click)="next()" class="button primary">next ></span>
    </div>

    <div class="slideshow-navigation" *ngIf="tourActual === 3">
      <span *ngIf="tourActual !== 0" (click)="tourActual = 0" class="button link"> start over </span>
      <span (click)="onStart()" class="button primary">Let's start!</span>
    </div>
  </div>
</app-modal>
