$color-modal: #424242;
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  .title {
    color: $color-modal;
    font-size: 32px;
  }
  .icon {
    cursor: pointer;

    &:hover {
      color: #2fe592;
    }
  }
}

.type-header {
  margin-top: 40px;
  color: $color-modal;
}

.types {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.key{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font: bold 9pt arial;
  text-decoration: none;
  text-align: center;
  width: 44px;
  height: 41px;
  margin: 5px;
  background: #eff0f2;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  -webkit-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  -moz-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
  text-shadow: 0px 1px 0px #f5f5f5;
  filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
}

.key:active, .keydown {
  color: #888;
  background: #ebeced;
  margin: 7px 5px 3px;
  -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  -moz-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
  border-top: 1px solid #eee;
}

.start-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .start-button {
    border: 0;
    padding: 12px;
    background-color: #0097a7;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: #00838f;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
    }
    &:active {
      background-color: #006064;
    }
  }
}

.hidden {
  display: none;
}

button, button:active {
  outline: none; // this one
}
