@keyframes background {
  from {background-color: rgba(96,125,139, 0.0)}
  to {background-color: rgba(96,125,139, 0.7)}
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

:host {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.container {
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(96,125,139, 0.7);
  animation-name: background;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);

  &.close {
    transition: 0.3s opacity ease-in-out;
    opacity: 0;
  }
  &.hidden {
    display: none;
  }

  .modal {
    font-family: "Courier New";
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    animation-name: modal;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
}





