

<div class="stagelight-container">
<svg width="500px" height="100vh" preserveAspectRatio="xMaxYMax meet" viewBox="0 0 638 1071" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round">
  <ellipse cx="319.489" cy="989.829" rx="318.511" ry="81.171" fill="#e6e5d6" fill-opacity=".228"/>
  <path d="M3 988L165 0l246 1 224 989-632-2z" fill="url(#_Linear1)"/>
  <defs>
    <linearGradient id="_Linear1" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(62 848 -848 62 297 85)">
      <stop offset="0" stop-color="#f4f4f4" stop-opacity=".366"/>
      <stop offset="1" stop-color="#fff" stop-opacity="0"/>
    </linearGradient>
  </defs>
</svg>
</div>
