.hide-iframe {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  tab-index: -1;
  z-index: -1;
  user-focus: none;
  user-select: none;
}
.iframe {
  tab-index: -1;
  z-index: -1;
  user-focus: none;
  user-select: none;
}
