:host {
  height: 100vh;
  overflow: hidden;
  display: block;
}

.layout {
  height: 100vh;
  width: 100vw;

  .logo {
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;

    padding: 20px;
    transform: rotate(-15deg);
    animation: app-logo-animation 10s ease forwards infinite;
    transform-origin: center bottom;
  }

  .footer {
    position: fixed;
    width: 50%;
    bottom: 0;
    left: 0;
  }
}

@keyframes app-logo-animation {
  from, to, 8% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(-10deg);
  }
  14% {
    transform: rotate(5deg);
  }
  18% {
    transform: rotate(-5deg);
  }
  22% {
    transform: rotate(-2deg);
  }
}
