
:host {
  height: 100vh;
  overflow: hidden;
  display: block;
}

.layout {
  display: grid;
  grid-template-rows: 50px 1fr 40px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'logo logo' 'zzzz' 'footer player';
  height: 100vh;
  width: 100vw;

  .logo {
    grid-area: logo;
    padding: 20px;
    transform: rotate(-15deg);
    animation: app-logo-animation 10s ease forwards infinite;
    transform-origin: center bottom;
  }

  app-audio {
    grid-area: player;
  }

  .footer {
    grid-area: footer;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
}

@keyframes app-logo-animation {
  from, to, 8% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(-10deg);
  }
  14% {
    transform: rotate(5deg);
  }
  18% {
    transform: rotate(-5deg);
  }
  22% {
    transform: rotate(-2deg);
  }
}
