/* You can add global styles to this file, and also import other style files */

@import "variables";
@import 'reset';

body {
  font-family: 'Righteous', cursive;
  background: linear-gradient(#395165, #223242);
  color: $theme-yellow;
  background-repeat: no-repeat;
  height: 100vh;

}
