/* You can add global styles to this file, and also import other style files */
@import "variables";
@import 'reset';

body {
  font-family: 'Righteous', cursive;
  color: $theme-yellow;
  height: 100vh;
  background-image: url('/assets/background.jpg');
  background-origin: border-box;
  background-size: cover;
  background-position: top left;
  animation: background 25s linear infinite;

}

a {
  color: inherit;
  &:hover, &:active, &:visited {
    color: inherit;
  }
}

@keyframes background {
  from, to { background-position:0 0; }
  50% { background-position:10% 0; }
}



$button-color: #fc5aa4;

button, .button {
  border: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  outline: none;

  &:disabled, &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.primary {
    background-color: $button-color;
    color: white;
    transition: box-shadow .2s ease;

    box-shadow: none;
    &:hover:not(:disabled) {
      box-shadow: 0 3px 4px rgba(50, 50, 50, 0.54);
    }

    &:active {
      background-color: darken($button-color, 5);
      box-shadow: 0 2px 2px rgba(50, 50, 50, 0.54);
      outline: none;
    }
  }

  &.link {
    color: $button-color;

    &:hover {
      color: lighten($button-color, 5);
    }

    &:active {
      color: ($button-color, 5);
    }
  }
}
