:host {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  height: 90%;
}

.keys {
  white-space: nowrap;
}

.key {
  vertical-align: top;
  margin: 0 0 7px 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: #aaa;
  font: 12pt arial;
  text-decoration: none;
  text-align: center;
  width: 80px;
  height: 42px;
  line-height: 42px;
  background: #eff0f2;
  border: none;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  text-shadow: 0 1px 0 #f5f5f5;
  transition: box-shadow ease .1s, transform ease .1s;

}

.w-key {
  &.active.keydown {
    background: #F2C50D;
    color: white;

  }

  &.active {
    box-shadow: 0 0 20px 10px #F2C50D;
  }
}

.space {
  width: 200px;
  margin-left: 64px;
  margin-right: 64px;

  &.active.keydown {
    background: #0DF2C9;
    color: white;
  }

  &.active {
    box-shadow: 0 0 20px 10px #0DF2C9;
  }
}

.e-key {
  &.active.keydown {
    background: #FF6E2B;
    color: white;
  }

  &.active {
    box-shadow: 0 0 20px 10px #FF6E2B;
  }
}

.keydown {
  color: #888;
  background: #ebeced;
  transform: translateY(1px) scale(1.04);
  margin-bottom: 0;
  border-top: 1px solid #eee;
  &.active {
    border-color: transparent;
  }
}
