.doll-container {
  padding: 20px;
  padding-top: 80px;
  padding-left: 120px;
}

.doll-right-arm {
  transform-origin: 293px 443px;
  animation: doll-hand 6s linear infinite;
}

.doll-face {
  transform-origin: 115px 326px;
}

@keyframes doll-hand {
  from, to {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
