@import "../../../variables";

:host {
  position: fixed;
  width: 50%;
  top: 20px;
  right: 20px;
}

.score-wrapper {
  font-size: 2rem;
  color: $theme-babakek;

  .score-title, .score-value {
    display: block;
  }

  .score-title {
    font-size: 1rem;
  }

  .score-value {
    transition: transform linear .1s;

    &.change {
      animation: enlarge .1s linear;
      animation-fill-mode: forwards;
    }
  }
}


@keyframes enlarge {
  from, to {
    transform: none;
  }
  20% {
    transform: scale(1.2) translate(10px, 5px);
  }
}
